:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3f6ad8;
    --secondary: #6c757d;
    --success: #3ac47d;
    --info: #16aaff;
    --warning: #f7b924;
    --danger: #d92550;
    --light: #eee;
    --dark: #343a40;
    --focus: #444054;
    --alternate: #794c8a;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #fff
}

img {
    vertical-align: middle;
    border-style: none
}

h3,
.h3 {
    font-size: 1.75rem
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit
}

h1,
.h1 {
    font-size: 2.5rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

.app-page-title .page-title-subheading {
    padding: 3px 0 0;
    font-size: .88rem;
    opacity: .6
}

.app-page-title {
    padding: 30px;
    position: relative
}

.app-page-title .page-title-heading,
.app-page-title .page-title-wrapper {
    margin: 0 auto;
    display: block
}

.app-page-title .page-title-heading,
.app-page-title .page-title-subheading {
    margin: 0;
    padding: 0
}

.app-page-title .page-title-wrapper {
    position: relative;
    display: flex;
    align-items: center
}

.app-page-title .page-title-heading {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-content: center;
    align-items: center
}

.app-page-title .page-title-icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: .83333rem;
    margin: 0 30px 0 0;
    background: #fff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-radius: .25rem;
    width: 60px;
    height: 60px
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}


@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (max-width: 967.98px) {
    .app-page-title {
        padding: 15px;
    }

}

@media (max-width: 991.98px) {
    .app-page-title {
        text-align: center;
    }

    .app-page-title .page-title-icon,
    .ui-theme-settings {
        display: none
    }

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-xl-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.card.mb-3 {
    margin-bottom: 30px !important
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: .25rem
}

.widget-content .widget-content-outer {
    display: flex;
    flex: 1;
    flex-direction: column
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center
}

.widget-content .widget-content-left .widget-heading {
    opacity: .8;
    font-weight: bold
}

.widget-content .widget-content-right {
    margin-left: auto
}

.widget-content .widget-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block
}


.widget-content .widget-progress-wrapper {
    margin-top: 1rem
}

.progress.progress-bar-sm {
    height: .5rem
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #3f6ad8;
    transition: width 0.6s ease
}

.progress .progress-bar:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.progress-bar-animated-alt.progress-bar::after,
.progress-bar-animated-alt .progress-bar::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    animation: progress-active 2s ease infinite
}

.progress-bar-animated-alt .progress-bar {
    position: relative;
}

.widget-content .widget-progress-wrapper .progress-sub-label {
    margin-top: .33333rem;
    opacity: .5;
    display: flex;
    align-content: center;
    align-items: center
}

.widget-content .widget-progress-wrapper .progress-sub-label .sub-label-right {
    margin-left: auto
}